/*
 * Theme Name: BigPrs Shop
 *
 * Layout: fonts
 *
 * Learn more: https://developer.wordpress.org/themes/basics/template-files/
*/

@font-face {
font-family: 'yekan';
src: url('../font/Yekan.eot?#') format('eot'),  
		url('../font/Yekan.woff') format('woff'),
		url('../font/Yekan.ttf') format('truetype');
font-style:normal;
font-weight:normal;
}