/*
Theme Name: BigPrs Shop
Theme URI: http://underscores.me/
Author: adnan ahmady
Author URI: http://www.bigprs.com
Description: this them created for bigprs.com to make a good shopping them for it
Version: 1.0.0
License: GNU General Public License v2 or later
License URI: LICENSE
Text Domain: bigprs_shop
Tags: custom-background, custom-logo, custom-menu, featured-images, threaded-comments, translation-ready

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.

BigPrs Shop is based on Underscores https://underscores.me/, (C) 2012-2016 Automattic, Inc.
Underscores is distributed under the terms of the GNU GPL v2 or later.

Normalizing styles have been helped along thanks to the fine work of
Nicolas Gallagher and Jonathan Neal https://necolas.github.io/normalize.css/
*/
/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Normalize
# Typography
# Elements
# Forms
# Navigation
	## Links
	## Menus
# Accessibility
# Alignments
# Clearings
# Widgets
# Content
	## Header
	## Posts and pages
	## Comments
# Infinite scroll
# Media
	## Captions
	## Galleries
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Normalize
--------------------------------------------------------------*/
html {
	/* font-family: sans-serif; */
	font-family: yekan,Lucida Grande, Lucida Sans Unicode, Lucida Sans, DejaVu Sans, Verdana, sans-serif;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}

body {
	margin: 0;
	min-height: calc(100% - 3.7rem);
	display: block;
	margin: 0;
	position: relative;
	padding-bottom: 3.5rem;
	z-index: -1;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
	display: block;
}

audio,
canvas,
progress,
video {
	display: inline-block;
	vertical-align: baseline;
}

audio:not([controls]) {
	display: none;
	height: 0;
}

[hidden],
template {
	display: none;
}

a {
	background-color: transparent;
}

a:active,
a:hover {
	outline: 0;
}

abbr[title] {
	border-bottom: 1px dotted;
}

b,
strong {
	font-weight: bold;
}

dfn {
	font-style: italic;
}

h1, .h1 {
	font-size: 2em;
	margin: 0.67em 0;
}

mark {
	background: #ff0;
	color: #000;
}

small {
	font-size: 80%;
}

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sup {
	top: -0.5em;
}

sub {
	bottom: -0.25em;
}

img {
	border: 0;
}

svg:not(:root) {
	overflow: hidden;
}

figure {
	margin: 1em 40px;
}

hr {
	box-sizing: content-box;
	height: 0;
}

pre {
	overflow: auto;
}

code,
kbd,
pre,
samp {
	font-family: yekan, monospace, monospace;
	font-size: 1em;
}

button,
input,
optgroup,
select,
textarea {
	color: inherit;
	font: inherit;
	margin: 0;
}

button {
	overflow: visible;
}

button,
select {
	text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
	-webkit-appearance: button;
	cursor: pointer;
}

button[disabled],
html input[disabled] {
	cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
	border: 0;
	padding: 0;
}

input {
	line-height: normal;
}

input[type="checkbox"],
input[type="radio"] {
	box-sizing: border-box;
	padding: 0;
	/* border: .5em solid #ffb939; */
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
	height: auto;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}

fieldset {
	border: 1px solid #c0c0c0;
	margin: 0 2px;
	padding: 0.35em 0.625em 0.75em;
}

legend {
	border: 0;
	padding: 0;
}

textarea {
	overflow: auto;
}

optgroup {
	font-weight: bold;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

td,
th {
	padding: 0;
}

/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/
body,
button,
input,
select,
optgroup,
textarea {
	color: #404040;
	color: hsl(0, 0%, 25%);
	font-family: yekan,Lucida Grande, Lucida Sans Unicode, Lucida Sans, DejaVu Sans, Verdana, sans-serif;
	font-size: 16px;
	font-size: 1rem;
	line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
	display: block;
	clear: both;
	-ms-word-break: break-word;
	word-break: break-word;
	color: #353535;
	color: hsl(0, 0%, 21%);
}

h1, .h1 {
	font-size: 2em;
}
h2, .h2 {
	font-size: 1.7em;
}
h3, .h3 {
	font-size: 1.45em;
}
h4, .h4 {
	font-size: 1.25em;
}
h5, .h5 {
	font-size: 1.05em;
}
h6, .h6 {
	font-size: .85em;
}

p {
	margin-bottom: 1.5em;
}

dfn, cite, em, i {
	font-style: italic;
}

blockquote {
	margin: 0 1.5em;
}

address {
	margin: 0 0 1.5em;
}

pre {
	direction: ltr;
	background: #eee;
	font-family: "Courier 10 Pitch", Courier, monospace, 'yekan', 'fontawesome';
	font-size: 15px;
	font-size: 0.9375rem;
	line-height: 1.6;
	margin-bottom: 1.6em;
	max-width: 100%;
	overflow: auto;
	padding: 1.6em;
	border: .05em solid #8888;
	border-radius: .3em;
}

code, kbd, tt, var {
	/* font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace; */
	font-family: yekan,Lucida Grande, Lucida Sans Unicode, Lucida Sans, DejaVu Sans, Verdana, sans-serif;
	font-size: 15px;
	font-size: 0.9375rem;
	background-color: #555;
	color: whitesmoke;
	padding: .1em;
	/*
	* 3px means .1875em
	*/
	border-radius: .1875em;
}

abbr, acronym {
	border-bottom: 1px dotted #666;
	cursor: help;
}

mark, ins {
	background: #fff9c0;
	text-decoration: none;
}

big {
	font-size: 125%;
}

/*--------------------------------------------------------------
# Elements
--------------------------------------------------------------*/
html {
	box-sizing: border-box;
	height: 100%;
}

*,
*:before,
*:after {
	/* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
	box-sizing: inherit;
}

body {
	background: #fff;
	/* Fallback for when there is no custom background color defined. */
}

hr {
	background-color: #ccc;
	border: 0;
	height: 1px;
	margin-bottom: 1.5em;
}

ul, ol {
	margin: 0 0 1.5em 3em;
}

ul {
	list-style: disc;
}

ol {
	list-style: decimal;
}

li > ul,
li > ol {
	margin-bottom: 0;
	margin-left: 1.5em;
}

dt {
	font-weight: bold;
}

dd {
	margin: 0 1.5em 1.5em;
}

img {
	height: auto;
	/* Make sure images are scaled correctly. */
	max-width: 100%;
	/* Adhere to container width. */
}

figure {
	margin: 1em 0;
	/* Extra wide images within figure tags don't overflow the content area. */
}

table {
	margin: 0 0 1.5em;
	width: 100%;
}

/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/

/*button,*/
/*input[type="button"],*/
/*input[type="reset"],*/
/*input[type="submit"] {*/
/*border: 1px solid;*/
/*border-color: #ccc #ccc #bbb;*/
/*border-color: hsl(0, 0%, 80%) hsl(0, 0%, 80%) hsl(0, 0%, 73%);*/
/*border-radius: 3px;*/
/*background: orangered;*/
/*background: hsl(16, 100%, 50%);*/
/*background: linear-gradient(0deg, orange 0%, orangered 50%, #fb632a 50%, orange 100%);*/
/*background: linear-gradient(0deg, hsl(39, 100%, 50%) 0%, hsl(16, 100%, 50%) 50%, hsl(16, 96%, 57%) 50%, hsl(39, 100%, 50%) 100%);*/
/*color: whitesmoke;*/
/*color: hsl(0, 0%, 96%);*/
/*font-size: 12px;*/
/*font-size: 0.75rem;*/
/*line-height: 0;*/
/*padding: 1em;*/
/*}*/

/*button:hover,*/
/*input[type="button"]:hover,*/
/*input[type="reset"]:hover,*/
/*input[type="submit"]:hover {*/
/*background: #ff5f23;*/
/*background: hsl(16, 100%, 57%);*/
/*background: linear-gradient(0deg, #ffb327 0%, #f85113 50%, #ff7744 50%, #fbb331 100%);*/
/*background: linear-gradient(0deg, hsl(39, 100%, 58%) 0%, hsl(16, 94%, 52%) 50%, hsl(16, 100%, 63%) 50%, hsl(39, 96%, 59%) 100%);*/
/*}*/
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	border: 1px solid;
	border-color: #ccc #ccc #bbb;
	border-color: hsl(0, 0%, 80%) hsl(0, 0%, 80%) hsl(0, 0%, 73%);
	border-radius: 3px;
	background: orange;
	/* 	background: hsl(16, 100%, 50%);
        background: linear-gradient(0deg, orange 0%, orangered 50%, #fb632a 50%, orange 100%);
        background: linear-gradient(0deg, hsl(39, 100%, 50%) 0%, hsl(16, 100%, 50%) 50%, hsl(16, 96%, 57%) 50%, hsl(39, 100%, 50%) 100%); */
	color: whitesmoke;
	color: hsl(0, 0%, 96%);
	font-size: 16px;
	font-size: 1rem;
	font-size: 100%;
	line-height: 0;
	padding: 1em;
	transition: .3s;
	outline: .1em dotted transparent;
	outline-offset: -.1em;
}

button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
	background: darkorange;
	/* 	background: hsl(16, 100%, 57%);
        background: linear-gradient(0deg, #ffb327 0%, #f85113 50%, #ff7744 50%, #fbb331 100%);
        background: linear-gradient(0deg, hsl(39, 100%, 58%) 0%, hsl(16, 94%, 52%) 50%, hsl(16, 100%, 63%) 50%, hsl(39, 96%, 59%) 100%); */
}

.pswp__button--close ,
.pswp__button--fs ,
.pswp__button--zoom {
	transition: .3s;
	outline: .1em dotted transparent;
	outline-offset: -.1em;
}
.pswp__button:hover {
	background: none;
}

.pswp__button--close:hover ,
.pswp__button--fs:hover ,
.pswp__button--zoom:hover {
	background: darkorange;
}
button:active, button:focus,
input[type="button"]:active,
input[type="button"]:focus,
input[type="reset"]:active,
input[type="reset"]:focus,
input[type="submit"]:active,
input[type="submit"]:focus
.pswp__button--close:active ,
.pswp__button--fs:active ,
.pswp__button--zoom:active
.pswp__button--close:focus ,
.pswp__button--fs:focus ,
.pswp__button--zoom:focus {
	outline: .1em dotted whitesmoke;
	outline: .1em dotted hsl(0, 0%, 96%);
	outline-offset: -.4em;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea ,
select {
	color: #666;
	color: hsl(0, 0%, 40%);
	border: 1.6px solid;
	border: .1em solid;
	border-color: transparent transparent #ffb939 transparent ;
	border-color: transparent transparent hsl(39, 100%, 61%) transparent ;
	border-radius: .2em;
	padding: .41em;
	transition: .3s;
	max-width: 100%;
	outline: .05em dashed transparent;
	outline-offset: -.1em;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
input[type="range"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="week"]:focus,
input[type="time"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="color"]:focus,
textarea:focus ,
select:focus {
	color: #111;
	color: hsl(0, 0%, 7%);
	box-shadow: none;
	outline: .05em dashed orange;
	outline-offset: -.4em;
	box-shadow: 0em 0em .4em orange inset;
}

select option:checked {
	display: none;
}

textarea {
	width: 100%;
	max-width: 100%;
	min-width: 4em;
	min-height: 2em;
	border-color: #ffb939;
	border-color: hsl(39, 100%, 61%);
}

/*--------------------------------------------------------------
## bigprs-search-form
--------------------------------------------------------------*/

.bigprs-product-search {
	display: flex;
}
.bigprs-product-search .search-field {
	flex: 1;
	width: 0rem ;
	overflow: hidden;
}
.bigprs-product-search select {
	overflow: visible;
}

/*--------------------------------------------------------------
# Layout
--------------------------------------------------------------*/

.corner-soft {
	-webkit-border-radius: .3em;
	-moz-border-radius: .3em;
	-ms-border-radius: .3em;
	-o-border-radius: .3em;
	border-radius: .3em;
}

.content-feild {
	width: 80%;
}
.ruban ,
.main-navigation{
	padding: 0 11%;
	width: 100%;
	position: relative;
	background: #ebebeb;
	background: hsl(0, 0%, 92%);
}
.ruban:after ,
.ruban:before,
.main-navigation:before,
.main-navigation:after {
	content: '';
	position: absolute;
	top: 0;
	height: 100%;
	width: 10%;
	background: #f2f2f2;
	background: hsl(0, 0%, 95%);
}

.sticky-bar:before,
.sticky-bar:after {
	content: '';
	position: absolute;
	top: 0;
	height: 100%;
	width: 10%;
	background: #f2f2f2;
	background: hsl(0, 0%, 95%);
	/* border-bottom: 3px solid #ffd6c7; */
	/* border-bottom: .1875rem solid hsl(16, 100%, 89%); */
}

.ruban:before,
.main-navigation:before {
	left: 0;
}
.ruban:after,
.main-navigation:after {
	right: 0;
}

.ruban-menu {
	display: inline-block;
}

.sidebar-site-icon {
	width: 3em;
	vertical-align: middle;
}
.more-prefix-height {
	padding-bottom: 3.5em;
	margin-bottom: -3.5em;
}
.sticky-bar {
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 99;
	/* box-shadow: 0px -3px 0px orange inset; */
	/* box-shadow: 0em -0.1875em 0em hsl(39, 100%, 50%) inset; */
	/* padding-bottom: 5px; */
	/* padding-bottom: .3125em; */
	padding-top: 2px;
	padding-top: .125em;
	padding-bottom: 2px;
	padding-bottom: .125em;
}

.site-header {
	margin-top: 51.2px;
	margin-top: 3.2rem;
}

@media screen and ( max-width: 800px ) and (max-width: 50rem) ,
screen and ( max-device-width: 800px ) and (max-device-width: 50rem) {
	.main-navigation{
		padding: 0%;
		width: auto;
		position: relative;
	}
}
@media screen and ( max-width: 550px ) and ( max-width: 34.375rem ) ,
screen and (max-device-width: 550px ) and (max-device-width: 34.375rem) {
	.ruban {
		padding: 0%;
	}

	.ruban > a:first-child ,
	.ruban > a#site-logo {
		margin-right: 3.3rem;
	}

	.ruban > ul.site-header-cart {
		margin-left: 3.3rem;
	}

	.ruban:after ,
	.ruban:before {
		width: 0%;
	}

	.content-feild {
		width: 100%;
	}
}
/*--------------------------------------------------------------
## Sticky bar
--------------------------------------------------------------*/

.sticky-bar.fix {
	position: fixed;
	-webkit-animation: fixed-animat .2s 1;
	-moz-animation: fixed-animat .2s 1;
	-o-animation: fixed-animat .2s 1;
	animation: fixed-animat .2s 1;
	top: 0;
	right: 0;
	z-index: 9999;
	/* border-bottom: 5px solid #0af; */
}

@-webkit-keyframes fixed-animat {
	from { top: -100px; }
	to { top: 0px; }
}

@-moz-keyframes fixed-animat {
	from { top: -100px; }
	to { top: 0px; }
}

@-o-keyframes fixed-animat {
	from { top: -100px; }
	to { top: 0px; }
}

@keyframes fixed-animat {
	from { top: -100px; }
	to { top: 0px; }
}

/*--------------------------------------------------------------
## Footer Menu
--------------------------------------------------------------*/
.footer-menu {
	display: block;
	text-align: center;
}
.footer-menu ul {
	margin: 0;
	padding: 0;
}
.footer-menu li {
	display: inline-block;
	margin-right: 10px;
	border-left: 1px dotted orangered;
	padding-left: 10px;
}
.footer-menu ul li:last-child {
	border-left: none;
}
.footer-menu a {
	display: block;
	padding: 0px 5px;
	/*color: orange;*/
}
.footer-menu a:hover ,
.footer-menu a:focus ,
.footer-menu a.focus {
	/*color: orangered;*/
}
/*--------------------------------------------------------------
# Posts and Pages
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Posts
--------------------------------------------------------------*/

.entry-header ,
.not-found .page-title{
	margin: 1rem 0rem;
}
.entry-meta {
	margin-top: 1.5em;
}
.entry-title-text ,
.not-found .page-title{
	display: inline-block;
	padding: 0em .5em .5em .7em;
	border-bottom: .08em solid orange;
	margin-left: 4rem;
}

.h1, .h2, .h3, .h4, .h5, .h6,
.not-found .page-content {
	margin: 0em;
}
.not-found .page-content {
	position: relative;
}

.not-found > * ,
.not-found .page-content{
	margin-bottom: 1em;
}
.not-found .search-form .search-field {
	/* 	width: 100%; */
}

.hentry ,
.product ,
.page-header ,
.not-found .page-content {
	padding: 0em;
	border: .07em solid orange;
	border-radius: .3em;
	background-color: #fcfcfc;
	background-color: hsl(0, 0%, 99%);
}

.entry-content .post-thumbnail {
	display: block;
}

.hentry > [class*="entry-"]:not(.entry-header),
.entry-meta ,
.product > [class*="entry-"]:not(.entry-header),
.page-header ,
.not-found .not-found-content{
	padding: 0 1em;
}

.entry-meta {
	background: whitesmoke;
	border: #aaaa .05em solid;
	border-right: none;
	border-left: none;
	border-bottom: .15em #888a solid;
	padding: .2em 1em;
}
.posted-on {
	display: inline-block;
}
.product :before ,
.hentry :before {
	font: 120%/1 fontawesome;
	display: inline-block;
	margin-left: .5em;
}
.posted-on:before {
	content: '\f017';
	font: 120%/1 fontawesome;
	display: inline-block;
	margin-left: .5em;
}
.byline {
}
.byline:before {
	content: '\f2bd';
	margin: 0 1em 0 .3em;
}
.product > .entry-footer ,
.hentry > .entry-footer {
	background: whitesmoke;
	border-radius: 0 0 .3em .3em;
	border-top: .15em #888a solid;
	padding: .5em 1em !important;
}

.entry-footer .category-title:before {
	content: '\f0f2';
}
.cat-links a ,
.tags-links a {
	display: inline-block;
}
.entry-footer .cat-links a:before {
	content: '\f07c';
	margin: 0 1em 0 .2em;
}
.entry-footer .tag-title:before {
	content: '\f02c';
}

.entry-footer .tags-links a:before {
	content: '\f02b';
	margin: 0 1em 0 .2em;
}

.entry-content .post-thumbnail {
	text-align: center;
}
.entry-content .post-thumbnail img {
	border: .05em solid #888;
	padding: .5em;
	border-radius: .3em;
	background: white;
	text-align: center;
}

.entry-content .page-links a {
	padding: .1em .5em;
	color: #444;
	background: #4442;
	border-radius: .3em;
	transition: .3s;
}
.entry-content .page-links a:hover,
.entry-content .page-links a:focus,
.entry-content .page-links a.focus {
	background: #444444bd;
	color: white;
}
.entry-content .more-link {
	background: orange;
	color: white;
	padding: 10px 20px 10px 5px;
	display: inline-block;
	-webkit-transition: all .3s;
	-moz-transition: all .3s;
	-o-transition: all .3s;
	transition: all .3s;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	margin-bottom: 8px;
	margin-bottom: .5rem;
}
.entry-content .more-link:after {
	content: '\f100';
	font: 100%/1 cochin, fontawesome;
	padding-right: 5px;
	position: relative;
	left: -5px;
	opacity: 0;
	-webkit-transition: all .3s;
	-moz-transition: all .3s;
	-o-transition: all .3s;
	transition: all .3s;
}
.entry-content .more-link:hover {
	padding: 10px 15px 10px 10px;
	background: darkorange;
}
.entry-content .more-link:hover:after {
	left: 0px;
	opacity: 1;
}
.entry-content .more-link:focus ,
.entry-content .more-link.focus {
	background: orangered;
	padding: 10px 15px 10px 10px;
}
.entry-content .more-link:focus:after ,
.entry-content .more-link.focus:after {
	left: 0px;
	opacity: 1;
}

.page-header {
	padding: 1em;
	font-size: 100%;
	margin-bottom: 1.5em;
}

.not-found .page-content .page-header {
	padding: 0;
	margin: 0;
	border: 0;
}
.search-prefix:before {
	content: '\f002';
	font: 120%/1 fontawesome;
	margin-left: .5em;
	color: orange;
}
.bigprs-search-form-toggle {
	padding: .5em 0em;
	min-width: 100%;
}
.bigprs-search-form-toggle select {
	margin: 0 .5em;
}
/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/

/*--------------------------------------------------------------
## Links
--------------------------------------------------------------*/

a {
	color: royalblue;
	text-decoration: none;
}

a:visited {
	color: #a600b5;
}

a:hover, a:focus, a:active {
	color: black;
}

a:focus {
	outline: thin dotted;
}

a:hover, a:active {
	outline: 0;
}

a.button,
.added_to_cart.wc-forward {
	padding: .5em 0em;
	margin: 0em 1.5%;
	border-radius: .2em;
	color: white;
	transition: .3s;
	display: inline-block;
	text-align: center;
}
a.button:hover ,
a.button:focus ,
.added_to_cart.wc-forward:hover ,
.added_to_cart.wc-forward:focus {
	box-shadow: 0em 0em .2em #888 inset;
}

.ruban-content-area a {
}
.ruban-content-area a:before {
	font: 120%/1 fontawesome;
	margin-left: .5em;
}
.ruban-content-area a[href*="my-account"]:before {
	content: '\f2be' !important;
}
.ruban-content-area a[href*="checkout"]:before {
	content: '\f283' !important;
}
.ruban-content-area a[href*="cart"]:before {
	content: '\f23d' !important;
}
.ruban-content-area a[href*="shop"]:before {
	content: '\f19c' !important;
}

/*--------------------------------------------------------------
# Ruban navigation
--------------------------------------------------------------*/

.ruban-menu a {
	transition: .3s;
	color: #5e5e5e;
	color: hsl(0, 0%, 37%);
	text-decoration: none;
}

.ruban-menu a:hover,
.ruban-menu a:focus,
.ruban-menu a:active {
	color: #3a3a3a;
	color: hsl(0, 0%, 23%);
}

/*--------------------------------------------------------------
## ruban search button
--------------------------------------------------------------*/
.ruban .bigprs-search-menu-button {
	background: hsl(0, 0%, 92%);
	margin: 0;
	border: 0;
	padding: .9rem;
	text-align: center;
	line-height: 1;
	vertical-align: middle;
	color: hsl(0, 0%, 37%);
}
.search-icon:before ,
.ruban .bigprs-search-menu-button:before {
	font-size: 130%;
}
.ruban .bigprs-search-menu-button:hover ,
.ruban .bigprs-search-menu-button:focus ,
.ruban .bigprs-search-menu-button.focus {
	background: #ffb939;
	color: #3a3a3a;
}
.ruban .bigprs-search-menu-button i {
	padding: .8em 0em;
	margin: 0 -1em 0;
	font: 130%/0 fontawesome;
}
/*--------------------------------------------------------------
## Ruban Menus
--------------------------------------------------------------*/

.ruban > .ruban-menu {
	margin-right: .5em;
	vertical-align: middle;
}

.ruban-menu ul {
	overflow: auto;
}
.ruban-menu ul ,
.ruban-menu ul li {
	list-style: none;
	padding: 0;
	margin: 0;
}

.ruban-menu ul li {
	display: inline-block;
	padding: 0em;
	float: right;
}
.ruban-menu a {
	padding: .8em .9em;
	display: block;
}
.ruban-menu a:hover {
	background: #ffb939;
}

@media screen and ( max-width: 958px ) and ( max-width: 59.875rem ) ,
screen and ( max-device-width: 958px ) and ( max-device-width: 59.875rem ) {
	.ruban-menu {
		vertical-align: middle;
	}
	.ruban-menu a {
		text-align: center;
		padding: 0.3em .5em;
	}
	.ruban-menu a .ruban-responsive {
		font-size: 80%;
		display: block;
	}
	.ruban-menu a:before {
		padding: auto;
		margin: auto;
	}
}
@media screen and ( max-width: 740px ) and ( max-width: 46.25rem ) ,
screen and ( max-device-width: 740px ) and ( max-device-width: 46.25rem ) {
	.ruban-menu a .ruban-responsive {
		font-size: 0%;
		display: block;
	}
	.ruban-menu a {
		text-align: center;
		padding: .9em .9em;
	}
}
/*--------------------------------------------------------------
## Mini Cart
--------------------------------------------------------------*/

.ruban .site-header-cart ,
.ruban .site-header-cart div {
	padding: 0em;
	margin: 0em;
	color: #444;
}

.ruban .site-header-cart .widget_shopping_cart ,
.widget_shopping_cart_content {
	padding: .5em;
}
.ruban .site-header-cart ul ,
.ruban .site-header-cart li {
	list-style: none;
	padding: 0;
	margin: 0;
	text-align: justify;
}
.ruban > .site-header-cart {
	padding: .8em;
}
.ruban > .site-header-cart:before {
	margin: 0 0 0 .5em;
}
.ruban .site-header-cart > li:first-child {
	display: inline-block;
}

.ruban .site-header-cart .widget_shopping_cart:after {
	border: solid;
	border-width: 0em .7em .7em .7em;
	border-color: transparent transparent red transparent;
	content: '';
	right: 83%;
	width: 0%;
	top: -0.8em;
	position: absolute;
}
.ruban .site-header-cart > li:last-child {
	margin-right: -50%;
	position: relative;
	top: 0;
	transition: .3s;
}
.ruban .site-header-cart:hover > li:last-child {
	margin-right: -50%;
	position: relative;
	top: .7em;
	/* top: 179%; */
}

/*--------------------------------------------------------------
## Menus
--------------------------------------------------------------*/

.main-navigation {
	clear: both;
	display: table;
	display: inline-block;
	width: 100%;
}

.main-navigation ul {
	list-style: none;
	margin: 0;
	padding-right: 0;
	clear: both;
}

.main-navigation li {
	float: right;
	position: relative;
}

.main-navigation .menu a {
	position: relative;
	display: block;
	text-decoration: none;
	padding: 10px 10px 10px 30px;
	padding: .625rem .625rem .625rem 1.875rem;
	background: #ebebeb;
	background: hsl(0, 0%, 92%);
	color: #636363;
	color: hsl(0, 0%, 39%);
	overflow: hidden;
	-webkit-transition: color .3s, padding .3s;
	-moz-transition: color .3s, padding .3s;
	-o-transition: color .3s, padding .3s;
	transition: color .3s, padding .3s;
}

.main-navigation .menu a:hover,
.main-navigation .menu a:focus,
.main-navigation .menu a.focus {
	background: #e0e0e0;
	background: hsl(0, 0%, 88%);
	padding: 10px 20px 10px 20px;
	padding: .625rem 1.25rem .625rem 1.25rem;
	box-shadow: 0em 0em .5em #bbb inset;
}
.main-navigation .menu a:before {
	content: "";
	border: solid;
	border-color: transparent white transparent transparent;
	border-width: 10px 10px 10px 0px;
	border-width: .625rem .625rem .625rem 0px;
	position: absolute;
	top: 12px;
	top: .75rem;
	color: #ffffff;
	right: -10px;
	right: -0.625rem;
	padding: 0px 5px;
	padding: 0rem 0.3125rem;
	font-size: xx-large;
	line-height: 0;
	-webkit-transition:right .3s;
	-moz-transition:right .3s;
	-o-transition:right .3s;
	transition:right .3s;
}

.main-navigation .menu a:hover:before,
.main-navigation .menu a:focus:before,
.main-navigation .menu a.focus:before {
	right: 0%;
}

.main-navigation li ul {
	-webkit-box-shadow: 0 3px 3px #ccc;
	-moz-box-shadow: 0 3px 3px #ccc;
	box-shadow: 0 3px 3px #ccc;
	-webkit-box-shadow: 0 0.1875rem 0.1875rem rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0 0.1875rem 0.1875rem rgba(0, 0, 0, 0.2);
	box-shadow: 0 0.1875rem 0.1875rem rgba(0, 0, 0, 0.2);
	float: right;
	position: absolute;
	top: auto;
	right: 0%;
	z-index: 99999;
	-webkit-transform: scale(0);
	-moz-transform: scale(0);
	-ms-transform: scale(0);
	-o-transform: scale(0);
	transform: scale(0);
	-webkit-transition: -webkit-transform .3s;
	-moz-transition: -moz-transform .3s;
	-o-transition: -o-transform .3s;
	transition: transform .3s;
	-webkit-transform-origin: right top;
	-moz-transform-origin: right top;
	-ms-transform-origin: right top;
	-o-transform-origin: right top;
	transform-origin: right top;
}

.main-navigation li:hover li ul,
.main-navigation li:focus li ul,
.main-navigation li.focus li ul {
	-webkit-transform: scale(0);
	-moz-transform: scale(0);
	-ms-transform: scale(0);
	-o-transform: scale(0);
	transform: scale(0);
}

.main-navigation li:hover ul,
.main-navigation li:focus ul,
.main-navigation li.focus ul,
.main-navigation li:hover li:hover ul,
.main-navigation li:focus li:focus ul,
.main-navigation li.focus li.focus ul {
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	-o-transform: scale(1);
	transform: scale(1);
}

.main-navigation ul ul ul {
	right: 100%;
	top: 0;
}

.page-item_has_children > a:after {
	line-height: 0;
	content: "\f103";
	font-family: fontawesome;
	font-size: 120%;
	background: #ffb938;
	color: #d68b00;
	background: hsl(39, 100%, 61%);
	color: hsl(39, 100%, 42%);
	padding: 10px 3px;
	margin-left: 0px;
	position: absolute;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	top: 1px;
	left: 1px;
	top: 0.0625rem;
	left: 0.0625rem;
	-webkit-transition: .15s;
	-moz-transition: .15s;
	-o-transition: .15s;
	transition: .15s;
}
.page_item_has_children > a:hover:after {
	-webkit-transform: rotateX(180deg);
	-moz-transform: rotateX(180deg);
	transform: rotateX(180deg);
}

.main-navigation li ul li {
	width: 100%;
	min-width: 200px;
	min-width: 12.5rem;
	max-width: 100%;
}
.main-navigation ul ul a {
	display: block;
}

.main-navigation .menu .current_page_item > a,
.main-navigation .menu .current-menu-item > a,
.main-navigation .menu .current_page_ancestor > a,
.main-navigation .menu .current-menu-ancestor > a {
	padding: 10px 20px 10px 20px;
	/* 	padding: 0rem 0.9375rem 0rem 0.3125rem; */
}
.main-navigation .menu .current_page_item > a:after ,
.main-navigation .menu .current-menu-item > a:after ,
.main-navigation .menu .current_page_ancestor > a:after ,
.main-navigation .menu .current-menu-ancestor > a:after {
	-webkit-transform: rotateX(180deg);
	-moz-transform: rotateX(180deg);
	transform: rotateX(180deg);
}

.main-navigation .menu .current_page_item > a:before,
.main-navigation .menu .current-menu-item > a:before,
.main-navigation .menu .current_page_ancestor > a:before,
.main-navigation .menu .current-menu-ancestor > a:before {
	content: "";
	border: solid;
	border-color: transparent white transparent transparent;
	border-width: 10px 10px 10px 0px;
	border-width: .625rem .625rem .625rem 0px;
	position: absolute;
	top: 12px;
	top: .75rem;
	color: #ffffff;
	right: 0%;
	padding: 0px 5px;
	padding: 0rem .3125rem;
	font-size: xx-large;
	line-height: 0;
	opacity: 1;
}
.main-navigation .row .current_page_item > a:before ,
.main-navigation .row .current-menu-item > a:before ,
.main-navigation .row .current_page_ancestor > a:before ,
.main-navigation .row .current-menu-ancestor > a:before {
	border: none;
}
.menu-toggle {
	display: none;

}
.main-navigation.toggled > ul {
	display: block;
}

.main-navigation.toggled .row {
	min-width: 400px;
	min-width: 25em;
}
.main-navigation #the_imenu {
	overflow: hidden;
	opacity: 0;
	display: none;
	transition: opacity .3s;
}
.main-navigation.toggled #the_imenu {
	display: inline-block;
	padding: 0;
	margin: 0;
	height: auto;
	width: 80%;
	opacity: 1;
	margin-right: .1em;
}
.main-navigation.toggled #the_imenu li {
	vertical-align: middle;
	display: inline-block;
	padding: 0em;
	margin: auto 1.5%;
}
.main-navigation.toggled #the_imenu li a:hover {
	background: orange;
}
.main-navigation.toggled #the_imenu li:last-child {
	margin-left: 0;
}
.main-navigation.toggled #the_imenu li .ruban-responsive {
	font-size: 0;
}

.main-navigation.toggled #the_imenu li a {
	display: block;
	padding: .65em .8em;
	margin: 0;
	background: transparent;
}
.main-navigation.toggled #the_imenu li a:before {
	font-size: 150%;
	margin: 0;
	color: #444;
}

.main-navigation .row #the_imenu .current_page_item > a,
.main-navigation .row #the_imenu .current-menu-item > a,
.main-navigation .row #the_imenu .current_page_ancestor > a,
.main-navigation .row #the_imenu .current-menu-ancestor > a {
	background: #ffb939;
	color: #333;
	background: hsl(39, 100%, 61%);
	color: hsl(0, 0%, 20%);
}
.main-navigation .row #the_imenu {
	vertical-align: bottom;
}
@media screen and (max-width: 800px) and (max-width: 50rem) ,
screen and ( max-device-width: 800px ) and ( max-device-width: 50rem ) {
	.main-navigation .menu-toggle {
		display: inline-block !important;
		vertical-align: bottom;
	}
	.menu-toggle,
	.main-navigation.toggled ul {
		z-index: 10000;
	}
	.main-navigation {
		position: fixed;
		display: block;
		clear: both;
		top: 0;
		right: 0;
		z-index: 99990;
		height: 100%;
		width: 0;
		-webkit-transition: .3s;
		-moz-transition: .3s;
		-o-transition: .3s;
		transition: .3s;
	}
	#show-navigation {
		height: 0px;
		width: 0px;
	}
	.main-navigation.toggled #show-navigation {
		overflow: auto;
		height: 100%;
		width: 100%;
	}
	.main-navigation.toggled {
		display: block;
		width: 80%;
		overflow: auto;
	}
	/*.main-navigation.toggled + #page{*/
	/*opacity: .3;*/
	/*}*/
	.main-navigation:before,
	.main-navigation:after {
		display: none;
	}
	.main-navigation ul ul {
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		box-shadow: none;
		padding-right: 1em;
	}
	.main-navigation ul {
		display: block;
		min-width: 300px;
	}
	#primary-menu {
		overflow: hidden;
	}
	.main-navigation > ul {
		display: block;
		overflow: hidden;
		width: 100%;
		height: 100%;
		-webkit-transition: .1s;
		-moz-transition: .1s;
		-o-transition: .1s;
		transition: .1s;
		-webkit-transform-origin: top right;
		-moz-transform-origin: top right;
		-ms-transform-origin: top right;
		-o-transform-origin: top right;
		transform-origin: top right;
	}
	.main-navigation.toggled > ul {
	}
	.main-navigation li {
		float: none;
		border-width:3px 5px 0px 0px;
		border-width:.1875rem .3125rem 0rem 0rem;
		border-color: #aaa #444 #444 #888;
	}
	.main-navigation li ul {
		position: relative;
		float: none;
		-webkit-transform: scale(1);
		-moz-transform: scale(1);
		-ms-transform: scale(1);
		-o-transform: scale(1);
		transform: scale(1);
		-webkit-transition: none;
		-moz-transition: none;
		-o-transition: none;
		transition: none;
	}
	.main-navigation ul ul {
		float: none;
		clear: both;
		position: relative;
		-webkit-transform: scale(1);
		-moz-transform: scale(1);
		-ms-transform: scale(1);
		-o-transform: scale(1);
		transform: scale(1);
		-webkit-transition: none;
		-moz-transition: none;
		-o-transition: none;
		transition: none;
	}
	.main-navigation ul ul ul {
		float: none;
		clear: both;
		position: relative;
		-webkit-transform: scale(1);
		-moz-transform: scale(1);
		-ms-transform: scale(1);
		-o-transform: scale(1);
		transform: scale(1);
		-webkit-transition: none;
		-moz-transition: none;
		-o-transition: none;
		transition: none;
		right: 0%;
	}

	.main-navigation ul ul a {
		width: 100%;
	}
	.main-navigation li:hover li ul,
	.main-navigation li:focus li ul,
	.main-navigation li.focus li ul {
		-webkit-transform: scale(1);
		-moz-transform: scale(1);
		-ms-transform: scale(1);
		-o-transform: scale(1);
		transform: scale(1);
	}

	.main-navigation .menu .current_page_item > a,
	.main-navigation .menu .current-menu-item > a,
	.main-navigation .menu .current_page_ancestor > a,
	.main-navigation .menu .current-menu-ancestor > a {
		background: #ffb939;
		color: #333;
		background: hsl(39, 100%, 61%);
		color: hsl(0, 0%, 20%);
	}

	.main-navigation .menu .current_page_item.page_item_has_children > a:after,
	.main-navigation .menu .current-menu-item.page_item_has_children > a:after,
	.main-navigation .menu .current_page_ancestor > a:after,
	.main-navigation .menu .current-menu-ancestor > a:after {
		display: none;
	}
	.main-navigation .menu .current_page_item.page_item_has_children > a:before,
	.main-navigation .menu .current-menu-item.page_item_has_children > a:before,
	.main-navigation .menu .current_page_ancestor > a:before,
	.main-navigation .menu .current-menu-ancestor > a:before {
		content: "\00bb";
		position: absolute;
		top: 0%;
		color: white;
		right: 0%;
		padding: 0% 5px;
		padding: 0% .3125rem;
		font-size: xx-large;
		line-height: 0;
		opacity: 1;
	}

	.main-navigation .menu .page_item_has_children > a:before,
	.main-navigation .menu .page_item_has_children > a:before,
	.main-navigation .menu .current_page_ancestor > a:before,
	.main-navigation .menu .current-menu-ancestor > a:before {
		top: 0%;
		margin: 13px 0px 5px 13px;
		margin: .8125rem 0rem .3125rem .8125rem;
	}

	.main-navigation .menu .current_page_item,
	.main-navigation .menu .current-menu-item,
	.main-navigation .menu .current_page_ancestor,
	.main-navigation .menu .current-menu-ancestor{
		border-color:lightblue hsl(200, 100%, 55%);
	}

}


@media screen and (max-width: 450px) and (max-width: 28.125rem) ,
screen and ( max-device-width: 450px ) and ( max-device-width: 28.125rem ) {

	.main-navigation.toggled #the_imenu li {
		vertical-align: middle;
		display: inline-block;
		padding: 0em;
		margin: auto 0%;
		float: right;
	}

}
@media screen and (max-width: 350px) and (max-width: 21.875rem) ,
screen and ( max-device-width: 350px ) and ( max-device-width: 21.875rem )  {

	.main-navigation.toggled #the_imenu li a{
		padding: .65em .5em;
		margin: 0;
	}

}

.site-main .comment-navigation {
	display: block;
	margin: 0 0 1.5rem;
	overflow: hidden;
}
.site-main .comment-navigation a {
	color: #bb0097;
	color: hsl(312, 100%, 37%);
}
.site-main .posts-navigation,
.site-main .post-navigation {
	margin: 0 0 1.5em;
	overflow: hidden;
}

.comment-navigation .nav-previous,
.posts-navigation .nav-previous,
.post-navigation .nav-previous {
	float: right;
	width: 50%;
}

.comment-navigation .nav-next,
.posts-navigation .nav-next,
.post-navigation .nav-next {
	float: left;
	text-align: left;
	width: 50%;
}
.comment-navigation .nav-previous a,
.posts-navigation .nav-previous a,
.post-navigation .nav-previous a,
.comment-navigation .nav-next a,
.posts-navigation .nav-next a,
.post-navigation .nav-next a {
	font-family: fontawesome, 'yekan', sans-serif;
	border: none;
	outline: none;
}
.comment-navigation .nav-previous a:after ,
.comment-navigation .nav-previous a:before ,
.comment-navigation .nav-next a:before ,
.comment-navigation .nav-next a:after ,
.posts-navigation .nav-previous a:before,
.post-navigation .nav-previous a:before ,
.posts-navigation .nav-next a:after,
.post-navigation .nav-next a:after {
	display: inline-block;
}
.comment-navigation .nav-previous a:after ,
.comment-navigation .nav-next a:before {
	color: #005980;
}
.comment-navigation .nav-previous a:before {
	content: "\f054";
	margin-left: 10px;
	margin-left: .625rem;
}
.comment-navigation .nav-next a:after {
	content: "\f053";
	margin-right: 10px;
	margin-right: .625rem;
}
.posts-navigation .nav-previous a:before,
.post-navigation .nav-previous a:before {
	content: "\f054";
	padding-left: 16px;
	padding-left: 1rem;
}
.posts-navigation .nav-next a:after,
.post-navigation .nav-next a:after {
	content: "\f053";
	padding-right: 16px;
	padding-right: 1rem;
}
.nav-previous a:hover,
.nav-previous a:focus,
.nav-previous a.focus,
.nav-previous a:hover:after,
.nav-previous a:focus:after,
.nav-previous a.focus:after,
.nav-previous a:hover:before,
.nav-previous a:focus:before,
.nav-previous a.focus:before,
.nav-next a:hover,
.nav-next a:focus,
.nav-next a.focus,
.nav-next a:hover:after,
.nav-next a:focus:after,
.nav-next a.focus:after,
.nav-next a:hover:before,
.nav-next a:focus:before,
.nav-next a.focus:before {
	color: orangered;
}

/*--------------------------------------------------------------
## Bigprs Vertical Menus
--------------------------------------------------------------*/

.bigprs-vertical-menus {
	padding: 0;
	margin: 0;
}

.bigprs-vertical-menus ul ,
.bigprs-vertical-menus li {
	list-style: none;
	margin: 0;
	padding: 0;
}

.bigprs-vertical-menus li a{
	position: relative;
	height: 100%;
	padding: 1em 2em 1em .5em;
	display: block;
	background: #f5f5f5;
	outline: .05em dotted #797979;
	outline-offset: -.3em;
	transition: .3s;
}

.bigprs-vertical-menus li a:hover {
	background: #e9e9e9;
	outline: .05em dotted #505050;
}

.bigprs-vertical-menus li {
	position: relative;
}
.bigprs-vertical-menus li a:before {
	content: '';
	position: absolute;
	top: 0em;
	bottom: 0;
	right: .9em;
	border-right: .05em dotted #797979;
	display: inline-block;
}
.bigprs-vertical-menus li a:after {
	content: '';
	margin: 0em .5em;
	position: absolute;
	top: 1.65em;
	right: 0;
	border: .1em solid #242424;
	padding: .3em;
	margin-top: -.3em;
	background: #2d2d2d;
	border-radius: 50%;
	box-shadow: inset 0px 0px 0px .1em white;
}
.bigprs-vertical-menus li ul {
	display: none !important;
}
.bigprs-vertical-menus li:hover ul {
	display: block !important;
}

/*--------------------------------------------------------------
# Accessibility
--------------------------------------------------------------*/
/* Text meant only for screen readers. */
.screen-reader-text {
	border: 0;
	clip: rect(1px, 1px, 1px, 1px);
	clip-path: inset(50%);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute !important;
	width: 1px;
	word-wrap: normal !important; /* Many screen reader and browser combinations announce broken words as they would appear visually. */
}

.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	clip-path: none;
	color: #21759b;
	display: block;
	font-size: 14px;
	font-size: 0.875rem;
	font-weight: bold;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000;
	/* Above WP toolbar. */
}

/* Do not show the outline on the skip link target. */
#content[tabindex="-1"]:focus {
	outline: 0;
}

/*--------------------------------------------------------------
# Alignments
--------------------------------------------------------------*/
.alignleft {
	display: inline;
	float: left;
	margin-right: 1.5em;
}

.alignright {
	display: inline;
	float: right;
	margin-left: 1.5em;
}

.aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

/*--------------------------------------------------------------
# Clearings
--------------------------------------------------------------*/
.clear:before,
.clear:after,
.entry-content:before,
.entry-content:after,
.comment-content:before,
.comment-content:after,
.site-header:before,
.site-header:after,
.site-content:before,
.site-content:after,
.site-footer:before,
.site-footer:after {
	content: "";
	display: table;
	table-layout: fixed;
}

.clear:after,
.entry-content:after,
.comment-content:after,
.site-header:after,
.site-content:after,
.site-footer:after {
	clear: both;
}

/*--------------------------------------------------------------
# Widgets
--------------------------------------------------------------*/

.widget {
	margin: 0 0 1.5em;
	/* Make sure select elements fit in widgets. */

	background: white;
	border: .05em solid #ccc;
	border-radius: .3em;
	padding: 0;
	box-shadow: 0em 0em 1em #ccc inset;
}

.bigprs_search_form {
	margin: 0 0 1.5em;
}
.ruban .bigprs_search_form {
	margin: 0;
}
.widget * ,
.widget select {
	max-width: 100%;
}
.widget select {
	margin: 1em 2%;
	width: 96%;
	padding: .3em;
}

[class*="_search"] ,
.widget_calendar {
	background: transparent;
	width: 100%;
	padding: 0;
	border: none;
	box-shadow: none;

}
[class*="_search"] input {
	width: 85%;
}

[class*="_search"] button {
	/*max-width: 15%;*/
	float: left;
}

/*[class*="_search"] button {*/
/*max-width: 15%;*/
/*float: left;*/
/*position: relative;*/
/*}*/
/*button.search-icon:before ,*/
/*button.bigprs-search-menu-button:before {*/
/*content: '\f002';*/
/*font: 120%/1 fontawesome;*/
/*font-family: fontawesome;*/
/*font-size: 130%;*/
/*max-width: 15%;*/
/*float: left;*/
/*padding: 0em 0;*/
/*margin: 0;*/
/*position: static;*/
/*}*/
.widget-title {
	border-bottom: .08em solid #ccc;
	display: inline-block;
	margin: .5em 0;
	padding: 0 .5em .3em .7em;
}

.widget ul {
	list-style: none;
	padding: 0;
	margin: .5em;
}
.widget li {
	padding: .5em;
}
.widget ul li {
	border-radius: .3em;

}
.widget ul li:hover,
.widget ul li:focus {
	background: #cccccc5f;
}

.widget_nav_menu ul li ,
.widget_archive ul li ,
.widget_categories ul li ,
.widget_meta ul li {
	padding: 0;
}
.widget_nav_menu ul li a ,
.widget_archive ul li a ,
.widget_categories ul li a ,
.widget_meta ul li a{
	display: block;
	padding: .5em;
}

.widget {
	position: relative;
}
.widget ul li img {
	vertical-align: middle;
	border-radius: 5%;
	border: #aaa .05em solid;
	background: white;
	padding: .2em;
	box-sizing: content-box;
	max-width: 100% !important;
}

.left {
	float: left;
	clear: right;
}

.link-count {
	color: #444;
}

.widget_text .textwidget ,
.widget_tag_cloud .tagcloud {
	padding: .5em;
	text-align: justify;
}
@media screen and ( max-width: 800px ) and (max-width: 50rem) ,
screen and ( max-device-width: 800px ) and ( max-device-width: 50rem ) {
	.ruban .bigprs_search_form {
		padding: 0 .5em;
	}
}
@media screen and ( max-width: 450px ) and (max-width: 28.125rem) ,
screen and ( max-device-width: 450px ) and ( max-device-width: 28.125rem ) {
	.bigprs-product-search {
		display: flex;
		flex-wrap: wrap;
	}
	.bigprs_search_form {
		padding: 0 .5em;
		flex-wrap: wrap;
	}
	.bigprs_search_form .search-field {
		min-width: 100%;
		margin-bottom: .5em;
	}
	.bigprs_search_form select {
		flex: 1;
		margin-right: 0;
		margin-left: .5em;
	}
}
/*--------------------------------------------------------------
## Prifixs
--------------------------------------------------------------*/

.widget .prefix:after ,
.not-found .page-content .prefix:after {
	font: 200%/1 fontawesome;
	color: #444;
	left: .3em;
	top: .15em;
	position: absolute;
}

.not-found .page-content .prefix:after {
	content: '\f002';
	color: orangered ;
	margin: .6rem .3rem;
	font-size: 230%;
}
.widget_shopping_cart .prefix:after {
	content: '\f23d';
}
.widget_nav_menu .prefix:after {
	content: '\f03a';
	-webkit-transform: rotateY(180deg);
	-moz-transform: rotateY(180deg);
	-ms-transform: rotateY(180deg);
	-o-transform: rotateY(180deg);
	transform: rotateY(180deg);
}
.widget_categories .prefix:after {
	content: '\f0f2 ';
}
.widget_calendar .prefix:after {
	content: '\f073';
}
.widget_archive .prefix:after {
	content: '\f187';
}
.widget_tag_cloud .prefix:after {
	content: '\f1be';
}
.widget_text .prefix:after {
	content: '\f031';
}
.widget_pages .prefix:after {
	content: '\f02d';
}
.widget_meta .prefix:after {
	/* 	content: '\f013'; */
	content: '\f085';
}
.widget_rss .prefix:after {
	content: '\f09e';
}
.widget_search .prefix:after {
	content: '\f002';
}
.widget_recent_entries .prefix:after {
	content: '\f044';
}
.widget_recent_comments .prefix:after {
	content: '\f0e6';
}

/*--------------------------------------------------------------
### Item Prifixs
--------------------------------------------------------------*/

.widget li {
	position: relative;
}
.widget li:before ,
.widget li:after {
	-webkit-user-modify: read-only;
	-moz-user-modify: read-only;
	-ms-user-modify: read-only;
	-o-user-modify: read-only;
	user-modify: read-only;

	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;

	-webkit-pointer-events: none;
	-moz-pointer-events: none;
	-ms-pointer-events: none;
	-o-pointer-events: none;
	pointer-events: none;
}

/*--------------------------------------------------------------
#### Prifix Absolute Position
--------------------------------------------------------------*/

.widget li:before ,
.widget_archive ul li a:before ,
.widget_categories ul li a:before {
	font: 0%/1 fontawesome;
	display: inline-block;
	/* 		margin: 0 -1.5em 0 .5em; */
	position: absolute;
	opacity: 0;
	vertical-align: middle;
	right: -1em;
	top: -0.2em;
	transition: .3s;
}
.widget li:hover:before ,
.widget_archive ul li a:hover:before ,
.widget_categories ul li a:hover:before {
	font: 120%/1 fontawesome;
	opacity: 1;
}
.widget_recent_comments .recentcomments:before {
	content: '\f27b';
}
.widget_archive ul li a:before {
	content: '\f017';
	top: .5em !important;
}
.widget_categories li a:before {
	content: '\f114';
	top: 0.5em !important;
}
.widget_pages li:before {
	content: '\f0f6';
	transform: rotateX(180deg);
	top: .8em !important;
}
.widget_rss li:before {
	content: '\f143';
	top: .2em !important;
}
.widget_nav_menu li:before {
	content: '\f0d0';
	transform: rotate(45deg);
	top: .5em !important;
	margin-right: -.5em !important;
}
.widget_recent_entries li:before {
	content: '\f040';
	top: .5em !important;
}
.widget_text .textwidget ,
.widget_tag_cloud .tagcloud {
	padding: .5em;
	text-align: justify;
}

/*--------------------------------------------------------------
#### Prifix On Item
--------------------------------------------------------------*/

.widget_meta li:after {
	font: 200%/1 fontawesome;
	color: #444;
	left: .3em;
	top: .15em;
	position: absolute;
}
.widget_meta li:after {
	content: '\f013';
}

/*--------------------------------------------------------------
#### Prifix On media
--------------------------------------------------------------*/
@media screen and (max-width: 950px ) and (max-width: 59.375rem) ,
screen and ( max-device-width: 950px ) and ( max-device-width: 59.375rem ) {
	.widget li:before ,
	.widget_archive ul li a:before ,
	.widget_categories ul li a:before{
		position: static;
		font: 120%/1 fontawesome;
		opacity: 1;
		margin-left: .5em;
		color: #444;
		vertical-align: middle;
	}
}
/*--------------------------------------------------------------
## Custom Widgets
--------------------------------------------------------------*/

#wp-calendar {
	font-family: 'yekan', sans-serif;
	text-align: center;
	border-spacing: 3px;
	border-spacing: .1875rem;
	border-collapse: separate;
	border: none;
	line-height: 0;
}

#wp-calendar a ,
#wp-calendar tbody ,
#wp-calendar td ,
#wp-calendar th {
	padding: 20px 0;
	padding: 1.25rem 0;
}

#wp-calendar th {
	-webkit-box-shadow: inset 0px 0px 1px 0px ;
	-moz-box-shadow: inset 0px 0px 1px 0px ;
	box-shadow: inset 0px 0px 1px 0px ;
	background: #ddd;
	border-bottom: 3px solid #0af;
}
#wp-calendar td {
	-webkit-box-shadow: inset 0px 0px 1px 0px #007eff;
	-moz-box-shadow: inset 0px 0px 1px 0px #007eff;
	box-shadow: inset 0px 0px 1px 0px #007eff;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
#wp-calendar tr {
	background: whitesmoke;
}
#wp-calendar a {
	margin: -20px 0;
	margin: -1.25rem 0;
	display: block;
	background: #6acbfb;
	background: hsl(200, 95%, 70%);
	color: #222;
	color: hsl(0, 0%, 13%);
	-webkit-transition: background .2s, color .2s;
	-moz-transition: background .2s, color .2s;
	-o-transition: background .2s, color .2s;
	transition: background .2s, color .2s;
}
#wp-calendar a:hover,
#wp-calendar a:focus,
#wp-calendar a.focus {
	background: #00aaff;
	background: hsl(200, 100%, 50%);
	color: #fff;
	color: hsl(0, 0%, 100%);
}
#wp-calendar tbody {
	background: #eee;
	text-align: center;
	font-family: 'yekan', sans-serif;
}
#wp-calendar caption {
	margin-top: 5px;
	margin-top: .3125rem;
	padding: 50px 0;
	padding: 3.125rem 0;
	background: #0af;
	background: hsl(200, 100%, 50%) linear-gradient(hsl(200, 100%, 50%) 55%, hsl(200, 100%, 60%) 45%);
	background: linear-gradient(hsl(200, 100%, 73%) 0%, hsl(200, 100%, 50%) 55%, hsl(200, 100%, 60%) 55%,hsl(200, 100%, 73%) 100%);
	border-bottom: 3px solid #1ab2ff;
	border-bottom: 3px solid hsl(200, 100%, 55%);
	color: #fff;
	color: hsl(0, 0%, 100%);
	font: 120%/0 'yekan', sans-serif;
}
#wp-calendar tfoot {
	background: transparent;
	text-align: center;
}
#wp-calendar thead{
	background: aquamarine;
}
/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Header
--------------------------------------------------------------*/

.site-branding {
	text-align: center;
	position: relative;
	height: 249px;
}

.site-branding .position-bottom-absolute  {
	position:  absolute;
	width: 100%;
	bottom:  0;
}
.site-branding .site-title-box {
	display: inline-block;
	padding: .5em 2em 0 2em;
	background: #ffffffaf;
	border-radius: .5em .5em 0 0;
	transition: padding-bottom .3s, background .3s;
}

.site-branding .position-bottom-absolute .site-title-box:hover {
	background: #ffffffcf;
	padding-bottom: .5em;
}
.site-branding .site-description {
	color: #888;
	line-height: 0;
	line-height: 1.5;
}

@media screen and ( max-width: 800px ) and ( min-width: 551px ) and ( max-width: 50rem ) and ( min-width: 34.4375rem ) ,
	screen 	and ( max-device-width: 800px ) and ( min-device-width: 551px ) and ( max-device-width: 50rem ) and ( min-device-width: 34.4375rem ) {
	.site-branding .position-bottom-absolute  {
		bottom: 4rem;
	}
	.site-branding {
		margin-bottom: -4rem;
	}
}
/*--------------------------------------------------------------
## Posts and pages
--------------------------------------------------------------*/

.sticky {
	display: block;
}

.hentry ,
.product {
	margin: 0 0 1.5em;
}

.updated:not(.published) {
	display: none;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

/*--------------------------------------------------------------
## Comments
--------------------------------------------------------------*/

.comment-content a {
	word-wrap: break-word;
}

.bypostauthor {
	display: block;
}

/*--------------------------------------------------------------
### Custom Comments
--------------------------------------------------------------*/

.comment-respond {
	background: white;
	padding: 5px;
	padding: .3125rem;
	border: 1px solid;
	border-color: #b3b3b3;
	border-color: hsl(0, 0%, 70%);
	-webkit-border-radius: 5px 5px 0px 0px;
	-moz-border-radius: 5px 5px 0px 0px;
	border-radius: 5px 5px 0px 0px;
	-webkit-border-radius: .3125rem .3125rem 0rem 0rem;
	-moz-border-radius: .3125rem .3125rem 0rem 0rem;
	border-radius: .3125rem .3125rem 0rem 0rem;
}
.comments-title {
	color: #303030;
}
.comments-title span {
	color: hsl(39, 100%, 50%);
}
.comment-list, .comment-list li{
	list-style: none;
	margin: 0;
}
.comment-list {
	padding: 0;
}
.comment-body ol li {
	list-style: decimal;
	list-style-position: inside;
}
.comment-body .comment-author {
	padding: 10px;
}
.comment-author .comment-meta {
	margin-top: -100px;

}
.comment-author .comment-meta,
.comment-author .comment-metadata {
	margin-right: 120px;
	padding-right: -120px;
	line-height: 2.7;
}
.comment-body .comment-author img{
	vertical-align: middle;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	/*border-radius: .625rem;*/
	border: 1px solid #888;
	border: .0625rem solid hsl(0, 0%, 53%);
	margin: 5px;
	width: 100px;
	height: 100px;
	width: 6.25rem;
	height: 6.25rem;
	/* float: right; */
}
.comment-metadata {
	display: inline-block;
}
.comment-body .comment-metadata:before ,
.comment-body .comment-metadata:after {
	color: #00f;
}
.comment-body .comment-metadata:before {
	content: '[';
	display: inline-block;
}
.comment-body .comment-metadata:after {
	content: ']';
	display: inline-block;
}
li.comment .comment-body {
	background: white;
	margin: 24px 0;
	margin: 1.5rem 0;
	border: 1px solid #a3a3a3;
	-webkit-border-radius: .75em;
	-moz-border-radius: .75em;
	border-radius: .75em;
	-webkit-border-radius: .625rem;
	-moz-border-radius: .625rem;
	border-radius: .625rem;
	-webkit-box-shadow: 0px 0px .75em 0px #bcbcbc;
	-moz-box-shadow: 0px 0px .75em 0px #bcbcbc;
	box-shadow: 0px 0px .75em 0px #bcbcbc;
}
.comment-content {
	border-top: 3px #474747 solid;
	border-top: .1875rem hsl(0, 0%, 28%) solid;
	width: 100%;
	padding: 10px;
	padding: .625rem;
	padding-right: 60px;
	padding-right: 3.75rem;
	margin-top: 20px;
	margin-top: 1.25;
}
.comment-body .reply {
	margin: -1.5em 0 0;
	padding: 0 1em 1em;
	text-align: left;
}
.comment-body .reply a{
	line-height: 0;
	border: 1px solid #1d1d1d;
	padding: 20px 32px;
	padding: 1.25rem 2rem;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	-webkit-border-radius: .625rem;
	-moz-border-radius: .625rem;
	border-radius: .625rem;
	background: #ffffff;
	display: inline-block;
	-webkit-box-shadow: inset 0px 0px 3px 0px #444444;
	-moz-box-shadow: inset 0px 0px 3px 0px #444444;
	box-shadow: inset 0px 0px 3px 0px #444444;
	color: white;
	position: relative;
	-webkit-transition: padding .3s;
	-moz-transition: padding .3s;
	-o-transition: padding .3s;
	transition: padding .3s;
	background: orange;
	background: hsl(39, 100%, 50%);
}
.comment-list > :nth-child(even) .reply a {
	background: orangered;
	background: hsl(16, 100%, 50%);
}
.comment-body .reply a:hover{
	padding: 20px 40px 20px 24px;
	padding: 1.25rem 2.5rem 1.25rem 1.5rem;
}
.comment-body .reply a:before{
	content: '\f044';
	font-family: fontawesome;
	display: inline-block;
	right: 0rem;
	font-size: 18px;
	font-size: 1.125rem;
	position: absolute;
	opacity: 0;
	-webkit-transition: right .3s, opacity .3s;
	-moz-transition: right .3s, opacity .3s;
	-o-transition: right .3s, opacity .3s;
	transition: right .3s, opacity .3s;
}
.comment-body .reply a:hover:before{
	right: .5rem;
	opacity: 1;
}
@media screen and (max-width: 800px) and (max-width: 50rem) ,
screen and ( max-device-width: 800px ) and ( max-device-width: 50rem ) {
	ul,
	ol,
	ol.children,
	ul.children,
	li {
		padding: 0;
		margin: 0;
		list-style-position: inside;
	}
	li.comment {
		margin: 16px 0;
		margin: 1rem 0;
	}
	.comments-area ol,
	.comments-area ul{
		counter-reset: comment-number;
	}
	.comments-area ol .comment .comment-body:before {
		display: block;
		counter-increment: comment-number;
		content: counters(comment-number,  '-');
		border-width: 1px 1px 5px 1px;
		border-color: #999;
		border-style: dotted dotted solid ;
		padding: .3rem 1rem;
		font-size: 20px;
		font-size: 1.25rem;
		background: whitesmoke;
		-webkit-border-radius: 10px 10px 0 0;
		-moz-border-radius: 10px 10px 0 0;
		border-radius: 10px 10px 0 0;
		-webkit-border-radius: .625rem .625rem 0 0;
		-moz-border-radius: .625rem .625rem 0 0;
		border-radius: .625rem .625rem 0 0;
		text-align: center;
		margin-bottom: 1rem;
	}
	ol.comment-list li.comment:nth-child(even) .comment-body {
		background: #d9f9ff;
		background: hsl(189, 100%, 93%);
		-webkit-border-radius: 10px;
		-moz-border-radius: 10px;
		border-radius: 10px;
		-webkit-border-radius: .625rem;
		-moz-border-radius: .625rem;
		border-radius: .625rem;
	}
	.comment-list > :nth-child(even) .reply a {
		margin-right: 0px;
	}
	.comment-body .comment-content {
		padding: 10px;
	}
}

/*--------------------------------------------------------------
### Comments Respond
--------------------------------------------------------------*/

.comment-respond h3{
	font-family: 'magnolia', 'title', cursive;
	display: 100%;
}
.comment-respond h3 small {
	display: block;
	float: left;
}
.comment-respond h3 small a {
	color: orangered;
	text-align: left;
}
.comment-respond h3 small a:hover,
.comment-respond h3 small a:focus,
.comment-respond h3 small a.focus {
	color: red;
}
.comment-respond .comment-form .comment-notes{
	color: green;
}
.comment-respond .comment-form .required{
	color: red;
}
.comment-respond .comment-form label{
	display: inline-block;
	min-width: 5em;
}
.comment-respond .comment-form .comment-form-comment label {
	color: #0af;
}
.comment-awaiting-moderation {
	color: white;
	background: green;
	margin: 0;
	padding: 5px;
	padding: .3125rem;
	font-family: 'magnolia', 'title', cursive;
}
.comment-awaiting-moderation:before {
	content: 'Ù‚Ø¨Ù„ÛŒ';
	margin-left: 10px;
	margin-left: .625rem;
	font-weight: bold;
}
/*--------------------------------------------------------------
# Infinite scroll
--------------------------------------------------------------*/
/* Globally hidden elements when Infinite Scroll is supported and in use. */
.infinite-scroll .posts-navigation,
.infinite-scroll.neverending .site-footer {
	/* Theme Footer (when set to scrolling) */
	display: none;
}

/* When Infinite Scroll has reached its end we need to re-display elements that were hidden (via .neverending) before. */
.infinity-end.neverending .site-footer {
	display: block;
}

/*--------------------------------------------------------------
# Media
--------------------------------------------------------------*/
.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
	border: none;
	margin-bottom: 0;
	margin-top: 0;
	padding: 0;
}

/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object {
	max-width: 100%;
}

/* Make sure logo link wraps around logo image. */
.custom-logo-link {
	display: inline-block;
}

/*--------------------------------------------------------------
## Captions
--------------------------------------------------------------*/
.wp-caption {
	margin-bottom: 1.5em;
	max-width: 100%;
}

.wp-caption img[class*="wp-image-"] {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.wp-caption .wp-caption-text {
	margin: 0.8075em 0;
}

.wp-caption-text {
	text-align: center;
}

/*--------------------------------------------------------------
## Galleries
--------------------------------------------------------------*/
.gallery {
	margin-bottom: 1.5em;
}

.gallery-item {
	display: inline-block;
	text-align: center;
	vertical-align: top;
	width: 100%;
}

.gallery-columns-2 .gallery-item {
	max-width: 50%;
}

.gallery-columns-3 .gallery-item {
	max-width: 33.33%;
}

.gallery-columns-4 .gallery-item {
	max-width: 25%;
}

.gallery-columns-5 .gallery-item {
	max-width: 20%;
}

.gallery-columns-6 .gallery-item {
	max-width: 16.66%;
}

.gallery-columns-7 .gallery-item {
	max-width: 14.28%;
}

.gallery-columns-8 .gallery-item {
	max-width: 12.5%;
}

.gallery-columns-9 .gallery-item {
	max-width: 11.11%;
}

.gallery-caption {
	display: block;
}

#sidebar-toggle-button {
	display: none;
}
footer#colophon {
	position: absolute;
	bottom: 0;
	z-index: -1;
}

@media screen and ( max-width: 930px ) and ( max-width: 58.125rem ) ,
screen and ( max-device-width: 930px ) and ( max-device-width: 58.125rem ) {

	#sidebar-toggle-button {
		display: inline-block;
		position:absolute;
		left: 0;
		top: 0;
	}

	#secondary {
		direction: ltr;
		position: fixed;
		top: 0;
		padding-top: 4em;
		left: 0;
		margin: 0;
		bottom: 0;
		z-index:99999;
		max-width: 80%;
		width: 0%;
		overflow: auto;
		transition: .3s;
		background: #eeee;
	}
	#secondary.toggled {
		width: 40%;
	}
	#secondary .widgets-navigation {
		direction: rtl;
		overflow: auto;
		width: 100%;
		text-align: right;
	}
}

@media screen and ( max-width: 800px ) and ( max-width: 50rem ) ,
screen and ( max-device-width: 800px ) and ( max-device-width: 50rem ) {
	#secondary.toggled {
		width: 80%;
	}
}









