/*
Theme Name: BigPrs Shop

WooCommerce styles override
*/
/**
 * WooCommerce color variables
 */
/**
 * Imports
 */
/**
 * Shop tables
 */
/**
 * Shop tables
 */
table.shop_table_responsive thead {
    display: none;
}

table.shop_table_responsive tbody th {
    display: none;
}

table.shop_table_responsive tr td {
    display: block;
    text-align: right;
    clear: both;
}
table.shop_table_responsive tr:nth-child(odd) {
    background: #eee;
}

table.shop_table_responsive tr td:before {
    content: attr(data-title) ": ";
    float: right;
    font-family: 'yekan';
}

table.shop_table_responsive tr td:nth-child(2):before {
    content: '';
}
table.shop_table_responsive tr td.product-remove {
    float: right;
    display: inline-block;
    margin-bottom: -5rem;
}
table.shop_table_responsive tr td.product-thumbnail {
    margin-bottom: 1em;
}
table.shop_table_responsive tr td.product-remove a {
    text-align: right;
    font-size: 3rem;
    line-height: 0;
    padding: .5em .25em .65em;
}

table.shop_table_responsive tr td.product-remove:before {
    display: none;
}

table.shop_table_responsive tr td.actions:before, table.shop_table_responsive tr td.download-actions:before {
    display: none;
}

table.shop_table_responsive tr td.download-actions .button {
    display: block;
    text-align: center;
}

@media screen and ( min-width: 768px ) and ( min-width: 48rem ) ,
screen and ( min-device-width: 768px ) and ( min-device-width: 48rem ) {
    table.shop_table_responsive thead {
        display: table-header-group;
    }
    table.shop_table_responsive tbody th {
        display: table-cell;
    }
    table.shop_table_responsive tr th, table.shop_table_responsive tr td {
        text-align: right;
        padding: .5em;
    }
    table.shop_table_responsive tr td {
        display: table-cell;
    }
    table.shop_table_responsive tr td:before {
        display: none;
    }
}

/**
 * Products
 */
.woocommerce-ordering {
    margin-bottom: 2em;
}
ul.products {
    content: "";
    display: table;
    table-layout: fixed;
    margin: 0;
    padding: 0;
    width: 100%;
}

ul.products li.product {
    list-style: none;
    position: relative;
    margin-bottom: 2em;
    border:  none;
    box-shadow: 0em 0em 0.5em #a2a2a2;
    padding: .5em;
    width: 30.7966666667%;
    display: inline-block;
    margin-left: 3.8%;
    vertical-align: top;
    float: right;
}

ul.products li.product .onsale{
    position: absolute;
    transform: rotateZ(45deg);
    right: -.2em;
    top: 1.54em;
    background: lightgreen;
    color: #434343;
}
ul.products li.product .onsale:before ,
ul.products li.product .onsale:after {
    content: '';
    border: solid;
    position: absolute;
}
ul.products li.product .onsale:before {
    border-color: transparent transparent
    transparent lightgreen;
    border-width: 1.25em 0em 0em 1.3em;
    right: -1.3em;
}
ul.products li.product .onsale:after {

    border-color: transparent lightgreen transparent
    transparent;
    border-width: 1.5em 1.5em 0em 0em;
    left: -1.5em;
}

.price del .woocommerce-Price-amount {
    color: #333a;
}
.price ins .woocommerce-Price-amount {
    background: #e3fbc0 ;
    border-bottom: .1em solid skyblue;
}

.price {
    line-height: 3;
}

ul.products li.product .woocommerce-loop-product__title {
    font-size: 1rem;
}

ul.products li.product img {
    display: block;
    margin: auto;
}

ul.products li.product .button {
    display: block;
}
.columns-1 ul.products li.product {
    float: none;
    width: 100%;
}
.columns-2 ul.products li.product {
    width: 48.1%;
}
.columns-3 ul.products li.product {
    width: 30.7966666667%;
}
.columns-4 ul.products li.product {
    width: 22.15%;
}
.columns-5 ul.products li.product {
    width: 16.96%;
}
.columns-6 ul.products li.product {
    width: 13.4933333333%;
}
.wc-tabs-wrapper .woocommerce-Tabs-panel {
    margin-top: 0;
    padding-top: 1.5rem;
    border: #ddd solid;
    border-width: 0rem .1rem .1rem .1rem;
}
.wc-tabs-wrapper .comment-respond {
    border: none;
}
.wc-tabs-wrapper .woocommerce-Tabs-panel > p ,
.wc-tabs-wrapper .woocommerce-Tabs-panel > h2{
    padding: 0 1rem;
}
@media screen and (min-width: 1051px) and ( min-width: 65.6875rem ) ,
screen and ( min-device-width: 1051px ) and ( min-device-width: 65.6875rem ) {
    .columns-3 ul.products li.product .star-rating ,
    ul.products li.product .star-rating {
        display: block;
        margin: auto;
        margin-bottom: 1em;
    }
    ul.products li.product:nth-child(3n) {
        margin-left: 0;
    }
}
@media screen and ( max-width: 1050px ) and ( min-width: 931px ) and ( max-width: 65.625rem ) and ( min-width: 58.1875rem ) ,
screen and ( max-device-width: 1050px ) and ( min-device-width: 931px ) and ( max-device-width: 65.625rem ) and ( min-device-width: 58.1875rem ) {
    .columns-3 ul.products li.product ,
    ul.products li.product{
        width: 48.1%;
    }
    ul.products li.product:nth-child(2n) {
        margin-left: 0;
    }
}
@media screen and (max-width: 930px) and (min-width: 650px)  ,
screen and (max-device-width:  930px) and (min-device-width: 650px) ,
screen and (max-width: 58.125rem) and (min-width: 40.625rem) ,
screen  and (max-device-width:  58.125rem) and (min-device-width: 40.625rem)
{
    .columns-3 ul.products li.product ,
    ul.products li.product{
        width: 30.7966666667%;
    }
    ul.products li.product:nth-child(3n) {
        margin-left: 0;
    }
}
@media screen and (max-width: 750px)  and (max-device-width:  750px) ,
screen and (max-width: 46.875rem)  and (max-device-width:  46.875rem) {
    .columns-3 ul.products li.product .star-rating ,
    ul.products li.product .star-rating {
        display: block;
        margin: auto;
        margin-bottom: 1em;
    }
}
@media screen and (max-width: 650px) and (min-width: 401px) and (max-width: 40.625rem) and (min-width: 25.0625rem) ,
screen and (max-device-width: 650px) and (min-device-width: 401px) and (max-device-width: 40.625rem) and (min-device-width: 25.0625rem) {
    .columns-3 ul.products li.product ,
    ul.products li.product {
        width: 48.1%;
    }
    ul.products li.product:nth-child(2n) {
        margin-left: 0;
    }
}
@media screen and (max-width: 550px) and (max-width: 34.375rem) ,
screen and (max-device-width: 550px) and (max-device-width: 34.375rem) {
    .columns-3 ul.products ,
    ul.products {
        padding: 0 1.5em;
    }
}
@media screen and (max-width: 400px) and (max-width: 25rem) ,
screen and (max-device-width: 400px) and (max-device-width: 25rem) {
    .columns-3 ul.products li.product ,
    ul.products li.product {
        float: none;
        width: 100%;
    }
}

/**
 * Single product
 */
/**
 * Single Product
 */
.single-product div.product {
    content: "";
    /* display: table; */
    /* table-layout: fixed; */
    position: relative;
    border: none;
}
.single-product div.product .woocommerce-product-gallery {
    position: relative;
}

.single-product div.product .woocommerce-product-gallery .woocommerce-product-gallery__trigger {
    position: absolute;
    top: 1em;
    right: 1em;
    display: block;
    z-index: 99;
}

.single-product div.product .woocommerce-product-gallery .flex-viewport {
    margin-bottom: 1em;
}

.single-product div.product .woocommerce-product-gallery .flex-control-thumbs {
    content: "";
    display: table;
    table-layout: fixed;
    margin: 0;
    padding: 0;
}

.single-product div.product .woocommerce-product-gallery .flex-control-thumbs li {
    list-style: none;
    cursor: pointer;
    float: left;
}

.single-product div.product .woocommerce-product-gallery .flex-control-thumbs li img {
    opacity: .5;
}

.single-product div.product .woocommerce-product-gallery .flex-control-thumbs li img.flex-active {
    opacity: 1;
}

.single-product div.product .woocommerce-product-gallery .flex-control-thumbs li:hover img {
    opacity: 1;
}

.single-product div.product .woocommerce-product-gallery.woocommerce-product-gallery--columns-2 .flex-control-thumbs li {
    width: 48.1%;
}

.single-product div.product .woocommerce-product-gallery.woocommerce-product-gallery--columns-2 .flex-control-thumbs li:nth-child(2n) {
    margin-right: 0;
}

.single-product div.product .woocommerce-product-gallery.woocommerce-product-gallery--columns-2 .flex-control-thumbs li:nth-child(2n+1) {
    clear: both;
}

.single-product div.product .woocommerce-product-gallery.woocommerce-product-gallery--columns-3 .flex-control-thumbs li {
    width: 30.7966666667%;
}

.single-product div.product .woocommerce-product-gallery.woocommerce-product-gallery--columns-3 .flex-control-thumbs li:nth-child(3n) {
    margin-right: 0;
}

.single-product div.product .woocommerce-product-gallery.woocommerce-product-gallery--columns-3 .flex-control-thumbs li:nth-child(3n+1) {
    clear: both;
}

.single-product div.product .woocommerce-product-gallery.woocommerce-product-gallery--columns-4 .flex-control-thumbs li {
    width: 22.15%;
}

.single-product div.product .woocommerce-product-gallery.woocommerce-product-gallery--columns-4 .flex-control-thumbs li:nth-child(4n) {
    margin-right: 0;
}

.single-product div.product .woocommerce-product-gallery.woocommerce-product-gallery--columns-4 .flex-control-thumbs li:nth-child(4n+1) {
    clear: both;
}

.single-product div.product .woocommerce-product-gallery.woocommerce-product-gallery--columns-5 .flex-control-thumbs li {
    width: 16.96%;
}

.single-product div.product .woocommerce-product-gallery.woocommerce-product-gallery--columns-5 .flex-control-thumbs li:nth-child(5n) {
    margin-right: 0;
}

.single-product div.product .woocommerce-product-gallery.woocommerce-product-gallery--columns-5 .flex-control-thumbs li:nth-child(5n+1) {
    clear: both;
}

.stock:empty:before {
    display: none;
}

.stock.in-stock {
    color: #0f834d;
}

.stock.out-of-stock {
    color: #e2401c;
}
a.reset_variations ,
.reset_variations {
    padding-right: 1em;
    padding-left: 1em;
}
a.reset_variations:before ,
.reset_variations:before {
    content: '\f12d';
}
table.variations select {
    width: 60%;
}
.woocommerce-product-rating {
    text-align: center;
}
.woocommerce-product-rating .woocommerce-review-link {
    display: inline-block;
    border-bottom: .1em solid royalblue;
    margin:  1em auto;
}
.woocommerce-product-rating .woocommerce-review-link:visited {
    border-bottom: .1em solid #a600b5;
}
.woocommerce-product-rating .woocommerce-review-link:hover ,
.woocommerce-product-rating .woocommerce-review-link:focus {
    border-bottom: .1em solid #333;
}
.single-product div.product_meta ,
.single-product div.product_meta > span {
    display:block;
    margin-bottom: 1rem;
}
.single-product div.product_meta > span > span {
    color: orange;
}

@media screen and (max-width: 450px ) and (max-width: 28.125rem) ,
screen and (max-device-width: 450px) and (max-device-width: 28.125rem) {
    table.variations select {
        display: block;
        margin-bottom: 1.5em;
        width: 100%;
    }
}

/**
 * Checkout
 */
/**
 * Checkout
 */
@media screen and (min-width: 768px) and (min-width: 48rem) ,
screen and (min-device-width: 768px) and (min-device-width: 48rem) {
    .col2-set .form-row-first {
        float: left;
        margin-right: 3.8%;
    }
    .col2-set .form-row-last {
        float: right;
        margin-right: 0;
    }
    .col2-set .form-row-first,
    .col2-set .form-row-last {
        width: 48.1%;
    }
}

/**
 * General WooCommerce components
 */
/**
 * Header cart
 */
.site-header-cart {
    transition: .3s;
    position: relative;
    margin: 0;
    padding: 0em 1em;
    content: "";
    display: table;
    table-layout: fixed;
    float: left;
    border: .05em solid #5e5e5e;
    border: .05em solid hsl(0, 0%, 37%);
    border-radius: .3em;
}
.site-header-cart > li > a{
    transition: .3s;
    display: inline-block;
}
.site-header-cart > li > a:before {
    transition: .3s;
    content: '\f23d';
    font: 120%/1 fontawesome;
    color: #5e5e5e;
    color: hsl(0, 0%, 37%);
    margin-left: .5em;
    display: inline-block;
}
.site-header-cart:hover {
    border: .08px solid #3a3a3a;
    border: .05em solid hsl(0, 0%, 23%);
    background: orange;
}
.site-header-cart:hover ,
.site-header-cart:hover > li > a:before {
    color: #3a3a3a;
    color: hsl(0, 0%, 23%);
}
.site-header-cart .cart-contents {
    text-decoration: none;
    color: #5e5e5e;
    color: hsl(0, 0%, 37%);
}

@media screen and (max-width: 1033px) and (max-width: 64.5625rem) ,
screen and (max-device-width: 1033px) and (max-device-width: 64.5625rem) {
    .site-header-cart .cart-contents span {
        font-size: 0;
        padding: 0;
        margin: 0;
    }
    .site-header-cart > li > a:before {
        padding: 0;
        margin: 0;
        margin-left: -.5rem;
    }
}
.site-header-cart:hover .cart-contents {
    color: #3a3a3a;
    color: hsl(0, 0%, 23%);
}

.site-header-cart .widget_shopping_cart {
    display: none;
}

.site-header-cart .product_list_widget {
    margin: 0;
    padding: 0;
}

/**
 * Star rating
 */
.star-container {
    text-align: center;
}
.star-container * {
    vertical-align: top;
    line-height: 1;
}

.star-rating {
    position: relative;
    height: 1em;
    line-height: 1.5;
    width: 5.6em;
    display: inline-block;
    font-weight: 400;
    margin-left: .5em;
}

.star-rating:before {
    content: "\f006\f006\f006\f006\f006";
    opacity: .25;
    float: left;
    top: 0;
    left: 0;
    position: absolute;
    padding: 0;
    margin: 0;
}

.star-rating span {
    overflow: hidden;
    float: left;
    top: 0;
    left: 0;
    position: absolute;
    padding-top: 1.5em;
}

.star-rating span:before {
    content: "\f005\f005\f005\f005\f005";
    top: 0;
    position: absolute;
    left: 0;
    color: royalblue;
    margin: 0;
    padding: 0;
}
.comment-form-rating {
    text-align: center;
}
p.stars {
    margin-right: 1rem;
    display: inline;
}
p.stars a {
    position: relative;
    height: 1em;
    width: 1em;
    text-indent: -999em;
    display: inline-block;
    text-decoration: none;
    margin-right: 1px;
    font-weight: 400;
    outline: none;
}

p.stars a:before {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 1em;
    height: 1em;
    line-height: 1;
    font-family: "fontawesome";
    content: "\f006";
    color: #404040;
    text-indent: 0;
    opacity: .25;
}

p.stars a:hover ~ a:before {
    content: "\f006";
    color: #404040;
    opacity: .25;
}

p.stars:hover a:before {
    content: "\f005";
    color: royalblue;
    opacity: 1;
}

p.stars.selected a.active:before {
    content: "\f005";
    color: royalblue;
    opacity: 1;
}

p.stars.selected a.active ~ a:before {
    content: "\f006";
    color: #404040;
    opacity: .25;
}

p.stars.selected a:not(.active):before {
    content: "\f005";
    color: royalblue;
    opacity: 1;
}

/**
 * Tabs
 */

.single_variation_wrap div {
    display: inline-block;
}
.single_variation_wrap {
    margin-bottom: 1.5em;
}

.woocommerce-tabs ul.tabs {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: right;
    border-bottom: #ddd .1em solid;
}

.woocommerce-tabs ul.tabs li {
    display: inline-block;
    margin: 0;
    position: relative;
    margin-right: .5em;

}

.woocommerce-tabs ul.tabs li a {
    padding: 1em 0;
    display: block;
    border: #ddd .1em solid;
    padding: .5em 1em;
    border-radius: .3em .3em 0 0 ;
    border-bottom: none;
    text-align: center;
    background: #ddd;
    color: #444;
    outline: none;
    transition: .3s;
}
.woocommerce-tabs ul.tabs li.active a {
    background: white;
    color: #333;
}

.woocommerce-tabs ul.tabs li a:before {
    content: '';
    transition: .2s cubic-bezier(0.27, 0.89, 1, 1.43);
    transform: scale(0);
}

.woocommerce-tabs ul.tabs li.active a:before {
    content: '\f00c';
    transform: scale(1);
}

.woocommerce-tabs .panel h2:first-of-type {
    margin-bottom: 1em;
}

/**
 * Password strength meter
 */
.woocommerce-password-strength {
    text-align: right;
}

.woocommerce-password-strength.strong {
    color: #0f834d;
}

.woocommerce-password-strength.short {
    color: #e2401c;
}

.woocommerce-password-strength.bad {
    color: #e2401c;
}

.woocommerce-password-strength.good {
    color: #3D9CD2;
}

/**
 * Forms
 */
.form-row.woocommerce-validated input.input-text {
    box-shadow: inset 2px 0 0 #0f834d;
}

.form-row.woocommerce-invalid input.input-text {
    box-shadow: inset 2px 0 0 #e2401c;
}

.required {
    color: red;
}

/**
 * Notices
 */
.woocommerce-message,
.woocommerce-info,
.woocommerce-error,
.woocommerce-noreviews,
p.no-comments {
    content: "";
    display: table;
    table-layout: fixed;
    color: #0f834d;
    clear: both;
    border-bottom: .1em solid green;
    margin-bottom: 1em;
}
.woocommerce-message a ,
.woocommerce-info a ,
.woocommerce-error a ,
.woocommerce-noreviews a ,
p.no-comments a {
    color: royalblue;
    margin: 0;
}
.woocommerce-message a:hover ,
.woocommerce-info a:hover ,
.woocommerce-error a:hover ,
.woocommerce-noreviews a:hover ,
p.no-comments a:hover ,
.woocommerce-message a:focus ,
.woocommerce-info a:focus ,
.woocommerce-error a:focus ,
.woocommerce-noreviews a:focus ,
p.no-comments a:focus {
    color: green;
    border: none;
    box-shadow: none;
}

.woocommerce-info,
.woocommerce-noreviews,
p.no-comments {
    background-color: #ffffff;
    line-height: 2;
}

.woocommerce-info:before {
    content: '\f0a5';
}

.woocommerce-error {
    color: #e2401c;
    background: transparent;
}

.demo_store {
    position: fixed;
    left: 0;
    bottom: 0;
    right: 0;
    margin: 0;
    padding: 1em;
    background-color: #3D9CD2;
    z-index: 9999;
}
.woocommerce-Input--text {
    width: calc(100% - 11rem) ;
    margin-right: .5em;
}
@media screen and (min-width: 768px) and (min-width: 48rem) ,
screen and (min-device-width: 768px) and (min-device-width: 48rem) {
    /**
     * Header cart
     */
    .site-header-cart .widget_shopping_cart {
        position: absolute;
        top: 100%;
        width: 100%;
        left: -1em;
        z-index: 999999;
        display: none;
        box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
        background: white;
        padding: 1em;
        width: 18em;
        border: .1em solid;
        border-color: orangered orange orange;
        border-top-width: .2em;
        border-radius: .3em;
    }
    .site-header-cart:hover .widget_shopping_cart, .site-header-cart.focus .widget_shopping_cart {
        display: block;
    }
}

/**
 * WooCommerce widgets
 */
/**
 * WooCommerce Price Filter
 */
.widget_price_filter .price_slider {
    margin-bottom: 1.5em;
}

.widget_price_filter .price_slider_amount {
    text-align: right;
    line-height: 2.4em;
}

.widget_price_filter .price_slider_amount .button {
    float: left;
}

.widget_price_filter .ui-slider {
    position: relative;
    text-align: left;
}

.widget_price_filter .ui-slider .ui-slider-handle {
    position: absolute;
    z-index: 2;
    width: 1em;
    height: 1em;
    cursor: ew-resize;
    outline: none;
    background: royalblue;
    box-sizing: border-box;
    margin-top: -.25em;
    opacity: 1;
}

.widget_price_filter .ui-slider .ui-slider-handle:last-child {
    margin-left: -1em;
}

.widget_price_filter .ui-slider .ui-slider-handle:hover, .widget_price_filter .ui-slider .ui-slider-handle.ui-state-active {
    box-shadow: 0 0 0 0.25em rgba(0, 0, 0, 0.1);
}

.widget_price_filter .ui-slider .ui-slider-range {
    position: absolute;
    z-index: 1;
    display: block;
    border: 0;
    background: royalblue;
}

.widget_price_filter .price_slider_wrapper .ui-widget-content {
    background: rgba(0, 0, 0, 0.1);
}

.widget_price_filter .ui-slider-horizontal {
    height: .5em;
}

.widget_price_filter .ui-slider-horizontal .ui-slider-range {
    height: 100%;
}

/**
 * Mini Cart Item
 *
 */

.widget .woocommerce-mini-cart {
    margin: 0em;
    padding: 0em;
}

.woocommerce-mini-cart-item {
    clear: both;
    overflow: auto;
}

.woocommerce-mini-cart-item:nth-child(odd) {
    background: whitesmoke;
}

.woocommerce-mini-cart-item .remove ,
.shop_table td.product-remove a{
    margin: 0em;
    padding: .3em;
    line-height: 1;
    color:  orangered !important;
    font-size: 150%;
    float: right;
    transition: .3s;
    transform-origin: center center;
}

.woocommerce-mini-cart-item .remove:hover ,
.shop_table td.product-remove a:hover{
    font-size: 200%;
    line-height: .8;
    color: orange;
    padding: .15em;
}


.woocommerce-mini-cart-item .bigprs-shop-mini-cart-thumbnail {
    width: 3em;
    vertical-align: middle;
    float: right;
    margin-left: .5em;
}

.woocommerce-mini-cart-item .bigprs-shop-product-name {
    width: 3em;
    vertical-align: middle;
    font-size: .9em;
    padding: 0;
}

.woocommerce-mini-cart-item .quantity {
    display: inline-block;
    color: green;
    font-size: .9em;
}
.woocommerce-mini-cart__total {
    color: green;
}

.site-header-cart .widget_shopping_cart {
    background: white;
    box-shadow: 0em 0em 1em #ccc inset;
    padding: 0.2em;
}

.site-header-cart .widget_shopping_cart li {
    display: block;
    padding: .5em 0;
}

.added_to_cart.wc-forward,
.wc-proceed-to-checkout .checkout-button,
.widget_shopping_cart .wc-forward {
    background: orange;
}
.wc-proceed-to-checkout .checkout-button,
.widget_shopping_cart .wc-forward {
    width: 55%;
}

.added_to_cart.wc-forward{
    display: block;
    margin-top: 1em;
}

.added_to_cart.wc-forward:hover ,
.added_to_cart.wc-forward:focus ,
.wc-proceed-to-checkout .checkout-button:hover ,
.wc-proceed-to-checkout .checkout-button:focus ,
.widget_shopping_cart .wc-forward:hover ,
.widget_shopping_cart .wc-forward:focus {
    background: darkorange;
}
ul.products li.product .button.add_to_cart_button ,
.woocommerce-checkout-payment input[type='submit'] ,
.widget_shopping_cart .checkout ,
.checkout {
    background: red;
}
.widget_shopping_cart .checkout {
    width: 35%;
}

ul.products li.product .button.add_to_cart_button:hover ,
ul.products li.product .button.add_to_cart_button:focus ,
ul.products li.product .button.add_to_cart_button.focus ,
.woocommerce-checkout-payment input[type='submit']:hover ,
.woocommerce-checkout-payment input[type='submit']:focus ,
.woocommerce-checkout-payment input[type='submit'].focus ,
.widget_shopping_cart .checkout:hover ,
.widget_shopping_cart .checkout:focus ,
.widget_shopping_cart .checkout.focus ,
.checkout:hover ,
.checkout:focus ,
.checkout.focus {
    background: #e80000;
}
.woocommerce-mini-cart__buttons {
    text-align: center;
}

.woocomerce-form label {
    display: inline-block;
    min-width: 160px;
    min-width: 10rem;
}
.woocomerce-form button,
.woocomerce-form input[type='submit'],
.woocomerce-form input[type='button'] {
    padding: .5em 2em;
    font: 100%/1 'yekan', sens-sarif, fontawesome;
}
.woocommerce-form__label-for-checkbox {
    margin-right: 20%;
}
.woocommerce-LostPassword {
    text-align: center;
    padding: 0;
    margin: 0;
}
.woocommerce-LostPassword :before ,
.woocommerce-LostPassword :after {
    text-align: center;
    font: 100%/1 fontawesome;
}
.woocommerce-LostPassword :before {
    content: '\f101';
}
.woocommerce-LostPassword :after {
    content: '\f100';
    padding-right: .5em;
}
.woocommerce-cart-form {
    overflow: auto;
}

.shop_table {
    border: .05em solid #4444;
}
.shop_table thead {
    border-bottom: .2em solid orange;
}
.shop_table thead tr th {
    text-align: center;
}
.shop_table tbody tr td {
    text-align: right;
    padding: .3em;
}
.shop_table tbody tr td * {
    vertical-align: middle;
}
.shop_table .product-thumbnail {
    min-width: 5em;
}
.shop_table .product-name {
    min-width: 10em;
}

.shop_table td.product-remove a {
    font-size: 120%;
    padding: .2em;
    line-height: 0;
    transform-origin: center center;
}

.shop_table td.product-remove a:hover {
    transform: scale (1.2) ;
    padding: 0;
}
.shop_table .coupon {
}
.shop_table .coupon * ,
.shop_table .coupon .button {
    vertical-align: middle;
    width: calc(25% - .5em);
    margin: 0;
    display: inline-block;
}
.shop_table .coupon input[type="text"] {
    margin: 0 1%;
    width: 49.5%;
}
.shop_table .button {
    padding: 1em ;
    font-size: 110%;
}
.shop_table .actions > .button {
    margin-top: .5em;
    width: 100%;
}
.shop_table td.product-quantity [type='number'] {
    max-width: 5em;
}
@media screen and (max-width: 768px) and (max-width: 48rem) ,
screen and (max-device-width: 768px) and (max-device-width: 48rem) {
    .shop_table .coupon input[type="text"] {
        margin: .5em 1%;
        width: 98%;
    }
    .shop_table .button {
        min-width: 100%;
    }
}
/**
 * custom chagnes
 *
 */
.woocommerce-checkout-payment input[type='submit'] ,
.wc-proceed-to-checkout a.checkout-button {
    padding-right: 1em;
    padding-left: 1em;
    width: auto;
    margin-bottom: .5em;
}
.select2-container{
    box-sizing:border-box;
    display:inline-block;
    margin:0;
    position:relative;
    vertical-align:middle;
    width: auto !important;
    min-width: 50%;
}
.woocommerce-additional-fields label ,
.woocommerce-billing-fields__field-wrapper label {
    margin-left: 1em;
    min-width: 7em;
    display: inline-block;
}
#billing_address_2_field input[type='text'] {
    width: 100%;
}
.woocommerce-form__label-for-checkbox {
    border-bottom: .1em solid green;
    padding-bottom: .2em;
}
.woocommerce-table--order-details tbody tr:nth-child(odd) ,
.woocommerce-table--order-details tfoot tr:nth-child(even) ,
.woocommerce-checkout-review-order-table tbody tr:nth-child(odd) {
    background: #ebebeb;
}

.woocommerce-checkout-review-order-table tfoot ,
.woocommerce-table--order-details tfoot {
    border-top: .1em solid orange;
}
.woocommerce-table--order-details tbody tr td.product-name ,
.woocommerce-checkout-review-order-table tbody tr td.product-name {
    padding: 0 1em;
}

.woocommerce-table--order-details tfoot tr th ,
.woocommerce-checkout-review-order-table tfoot tr th {
    padding: 0 1em;
}

.woocommerce-thankyou-order-details {
    color: green;
}

.woocommerce-table--customer-details {
    border: 0;
}

.woocommerce-pagination {
    margin-bottom: 1.5rem;
}

.woocommerce-pagination .page-numbers {
    direction: ltr;
    text-align: center;
}
.woocommerce-pagination .page-numbers li {
    display: inline-block;
    list-style: none;
    line-height: 0;
}
.woocommerce-pagination .page-numbers li * {
    display: block;
    margin: -1.5em -1em;
    padding: 1.5em 1em;
    line-height: 0;
    margin: 0;
}
.woocommerce-pagination .page-numbers li a {
    background: #ccc5;
    color: #434343;
    transition: .3s;
}
.woocommerce-pagination .page-numbers li a:hover ,
.woocommerce-pagination .page-numbers li a:focus ,
.woocommerce-pagination .page-numbers li a.focus {
    background: #ccc8;
}
.woocommerce-pagination .page-numbers li span.current {
    box-shadow: 0em -.2em 0em orange inset;
}
.woocommerce-breadcrumb {
    margin-bottom: 1.5rem;
}
@media screen and ( max-width: 800px ) and ( max-width: 50rem ) ,
screen and ( max-device-width: 800px ) and ( max-device-width: 50rem ) {
    .woocommerce-breadcrumb,
    .woocommerce-products-header {
        background: white;
        border: .1em solid orange;
        margin-bottom: 1.5em;
        border-radius: .3em;
        padding: .5em;
    }
    .woocommerce-products-header {
        padding: 0 .5em;
    }
}

.wc-tabs-wrapper h2.woocommerce-Reviews-title {
    margin: 0;
    padding: 0em 1rem;
}
.wc-tabs-wrapper h2.woocommerce-Reviews-title span {
    color: orange;
}
.wc-tabs-wrapper ol {
    list-style: none;
}
.wc-tabs-wrapper ol li {
    padding: 1em;
}
.wc-tabs-wrapper ol li:nth-child(odd) {
    background: #eee;
}
.wc-tabs-wrapper ol li div.comment_container img {
    float: right;
    margin-left: 1em;
    border-radius: .3em;
}
.wc-tabs-wrapper ol li div.comment_container .comment-text .star-container {
    display: inline-block;
}