/*
 * Theme Name: BigPrs Shop
 *
 * Layout: Sidebar-Content
 *
 * Learn more: https://developer.wordpress.org/themes/basics/template-files/
*/

.content-area {
	float: right;
	margin: 0 0 0 -216px;
	margin: 0 0 0 -20em;
	width: 100%;
	text-align: justify;
}
.site-main {
	margin: 0 0 0 216px;
	margin: 0 0 0 20em;
}
.site-content .widget-area {
	float: left;
	/*overflow: hidden;*/
	width: 200px;
	width: 19em;
}


.bigprs-footer {
	clear: both;
	width: 100%;
	text-align: justify;
	background: #d9d9d9;
	background: hsl(0, 0%, 85%);
	color: #353535;
	padding: 5px;
	padding: .3125rem;
	border-top: 3px solid orangered;
	border-top: .1875rem solid orangered;
	overflow: hidden;
}
.lettel-bet-slimer {
	width: 78%;
	z-index: 0;
	position: relative;
}
.ruban-content-overwrite {
	padding: 0 10%;
}
.ruban-prefix-border-overwrite:before ,
.ruban-prefix-border-overwrite:after {
	border-top: 3px solid #ffcfbe;
	border-top: .1875rem solid #ffcfbe;
}

@media screen and (max-width: 930px) and (max-width: 58.125rem) ,
screen and (max-device-width:  930px)  and (max-device-width: 58.125rem) {
	.content-area,
	.site-content .widget-area {
		float: none;
		clear: both;
		margin: 0;
		width: 100%;
	}
	.site-main {
		margin: 0%;
	}
}
@media screen and (max-width: 550px) and (max-width: 34.375rem) ,
screen and (max-device-width: 550px) and (max-device-width: 34.375rem)  {
	.lettel-bet-slimer {
		width: 100%;
	}
	.ruban-content-overwrite {
		padding: 0%;
	}
}